@font-face {
    font-family: 'iconfont';
    src: url('/fonts/iconfont.eot');
    src: url('/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/iconfont.woff2') format('woff2'),
    url('/fonts/iconfont.woff') format('woff'),
    url('/fonts/iconfont.ttf') format('truetype'),
    url('/fonts/iconfont.svg#iconfont') format('svg');
    }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-youxiang:before {
    content: "\e626";
    color: "#808080";
    }
    
    .icon-csdn:before {
    content: "\e600";
    color: "#808080";
    }
    
    .icon-QQ-circle-fill:before {
    content: "\e887";
    color: "#808080";
    }
    
    .icon-github:before {
    content: "\e673";
    color: "#808080";
    }